.login-btn{
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    padding: 14px 22px;
    border-radius: 20px;
    color:white;
    background-color: #393053;
    border: none;
    cursor: pointer;
    font-size: 19px;
    text-decoration: none;
}

section {
    padding: 60px 10% 60px 21%;
    margin-top:50px;
}

.section-title{
    color:white;
}

.container-section {
    padding: 10px;
    position: relative;
    height: 300px;
    justify-content: center;
    background-color: #201a33;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 40px;
    align-items: center;
}

.box{
    position: relative;
    height: 280px;
    justify-content: center;
    background-color: #393053;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.box:hover{
    background-color:#4b406b;
    transition: 0.3s;
}

.preview-text{
    color:white;
    font-size: 18px;
    text-align: center;
    padding-left: 200px;
}

.box-img{
    width: 170px;
    height: auto;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 10px;
}

.box-text h2{
    font-size: 18px;
    color: white;
    padding-left: 25px;
}

@media (max-width: 768px) {
    .login-btn{
        float: none;
        margin: 10px auto; 
        display: block;
        text-align: center;
        width: 50%;
    }

    section{
        padding: 10px 5% 60px 5%;
        overflow-x: auto;
    }

    .container-section{
        display: flex;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-color: #4b406b #201a33;
        min-width: 0;
        max-width: 100%;
        height: 190px;
    }

    .box{
        height: 90%;
        display: inline-block;
    }

    .box-img{
        width: 80%;
        margin-left: 15px;
    }

    .preview-text {
        padding: 0;
        font-size: 16px;
    }

    .box-text h2{
        padding: 0 8px 0 8px;
        font-size: 15px;
    }

}