.playlist-background{
    background-color: #18122b;
    background-image: linear-gradient(180deg, #18122b, #715f7d);
    margin-left: 250px;
    height: 300px;
}

.playlist-cover{
    margin: auto;
    width: 30%;
    padding: 10px;
    padding-top: 40px;
}

.loggedin-playlist-cover{
    margin: auto;
    width: 30%;
    padding: 10px;
    padding-top: 40px;
}

.loggedin-playlist-cover img{
    height: 180px;
    width: auto;
    border-radius: 10px;
}

.playlist-cover img{
    height: 180px;
    width: auto;
    margin-left:98px;
    border-radius: 10px;
}

.loggedin-playlist-cover h2{
    color:white;
    font-weight: bold;
}

.playlist-cover h2{
    color:white;
    font-weight: bold;
    text-align: center;
    padding-right: 10px;
}

.loggedin-playlist-buttons-container{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 280px;
}

.playlist-buttons-container {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 350px;
}

.playlist-buttons-container button,
.loggedin-playlist-buttons-container button {
    padding: 10px;
    margin-right: 10px;
    background-color: #b1a1ed;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 45px;
}

.playlist-buttons-container button:hover,
.loggedin-playlist-buttons-container button:hover{
    background-color: #8d7cc9;
}

.playlist-buttons-container i,
.loggedin-playlist-buttons-container i{
    font-size: 24px;
    font-weight: bold;
    color:#18122b ;
}

.wide-text-box {
    width: 800px;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border:none;
    outline: none; 
    border-radius: 15px;
    background-color: #393053;
    color: white;
    padding-left: 20px;
}

.loggedin-wide-text-box{
    width: 720px;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border:none;
    outline: none; 
    border-radius: 15px;
    background-color: #393053;
    color: white;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .playlist-background {
        margin-left: 0; 
        height: auto; 
    }

    .playlist-cover {
        width: 90%;
    }

    .playlist-cover img {
        height: auto;
        width: 35%;
        border-radius: 10px; 
        margin-left: 110px;
    }

    .playlist-cover h2{
        font-size: 18px;
        text-align: center;
    }

    .playlist-buttons-container {
        margin-left: 0; 
    }

    .playlist-buttons-container button {
        width: 30px;
        padding: 4px;
    }

    .playlist-buttons-container i{
        font-size: 17px;
    }
    
}