.search-buttons-container{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 350px;
    margin-top: 30px;
}

.search-buttons-container button{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #625588;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 45px;
}

.search-buttons-container button:hover{
    background-color: #b1a1ed;
}

.search-buttons-container i{
    font-size: 24px;
    font-weight: bold;
    color:#18122b ;
}

.search-buttons-container select{
    background-color: #625588;
    color: #18122b;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    text-align: center;
    padding: 10px;
}

.search-buttons-container select:hover{
    background-color: #b1a1ed;
}

.search-box{
    width: 800px;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border:none;
    outline: none; 
    border-radius: 15px;
    background-color: #393053;
    color: white;
    padding-left: 20px;
}

.option-buttons{
    padding-left: 480px;
}

.option-buttons button{
    width: 80px;
    height: 48px; 
    margin-left: 32px; 
    background-color: #625588; 
    color: #18122b;
    font-weight:500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option-buttons button:hover{
    background-color: #b1a1ed;
}

.recent-searches-container h2{
    color: white;
    margin-left: 350px;
}

.search-history a{
    text-decoration: none;
}

.searches-headers th{
    border:none;
    padding: 8px;
    text-align: left;
    color:white;
}

.delete-search-btn{
    width: 28px;
    height: 29px;
    border:none;
    border-radius: 15px;
    font-size: 16px;
    background-color: #625588;
    color: #18122b;
}

.delete-search-btn:hover{
    background-color: #b1a1ed;
}

.searches-headers:hover{
    background-color: #18122b;
}